{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", ".prettierrc", ".babelrc", ".eslintrc"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
